# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Bowen_Lei\Cornell\Fall_2020\CS5304_Data_Science_in_the_Wild\project\AE_Recommender System\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
